.App {
  color: white;
  font-size: calc(10px + 2vmin);
}

h2 {
  padding: 3%;
  line-height: 1em;
}
.logos {
  height: 20vmin;
  pointer-events: none;
  margin: 0%;
  padding: 0%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
  margin: 0%;
  padding: 0%;
}

.App-header {
  width: 100%;
  background: transparent linear-gradient(1deg, #001355 0%, #000411 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Loading {
  width: 100%;
  background: transparent linear-gradient(1deg, #001355 0%, #000411 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo-loading {
  animation: App-logo-spin infinite 5s linear;
  height: 20vmin;
  pointer-events: none;
  margin: 0%;
  padding: 0%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  display: flex;
  justify-content: space-between;
  margin: 0%;
  padding-inline-start: 3%;
  padding-inline-end: 3%;
}
li {
  display: inline;
}

a {
  color: #3daf29;
  text-decoration: none;
  font-size: 1.8em;
}

.AppAuth {
  text-align: center;
  color: white;
  font-size: calc(8px + 2vmin);
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.switch {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 10% 10%;
}

.MuiFormControl-root .MuiFormLabel-root {
  color: white;
  font-size: 0.7em;

}

.makeStyles-root-1  .MuiAppBar-root{
    width: 100%;
}

.MuiFormControl-root .MuiFormLabel-root.Mui-focused {
  color: white;
}
.icon {
  color: #23ca0f;
  font-size: 1em;
}

.MuiFormControl-root .MuiInput-underline {
  border-bottom-color: #23ca0f;
}
.MuiFormControl-root .MuiInput-underline::after {
  border-bottom-color: #23ca0f;
}

.MuiFormControl-root .MuiInputBase-root {
  color: white;
  font-size: 1em;
}

.login {
  width: 100%;
  height: 500vh;
}

.logoPrincipal {
  width: 15%;
}

.makeStyles-root-1 .MuiAppBar-colorPrimary {
  background-color: #000415;
}

.social-btn {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: auto;
  color: #23ca0f;
  font-size: 1.5em;
}

.icons i {
  padding: 15%;
  margin: auto;
}

.small {
  font-size: 0.3em;
  padding: 1%;
}

.container {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.map {
  width: 80%;
  height: auto;
  margin: auto;
}

.mapr {
  width: 100%;
  height: auto;
  position: relative;
  z-index: -1;
}
.container .makeStyles-margin-65 {
  margin: auto;
}

.home {
  text-align: center;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.link {
  font-size: 0.8em;
  color: #23ca0f;
  padding: 1%;
}

.btn-group {
  width: 100%;
  position: relative;
}

.searches {
  height: 100vh;
}

.Ironbtn {
  position: absolute;
  top: 41%;
  right: 33%;
 }

.agrobtn {
  position: absolute;
  top: 34%;
  right: 26.5%;
}

.blkbtn {
  position: absolute;
  top: 45%;
  left: 38.5%;
}

.creabtn {
  position: absolute;
  top: 26%;
  left: 34%;
}

.devbtn {
  position: absolute;
  top: 75%;
  left: 25%;
}

.gambtn {
  position: absolute;
  top: 43%;
  left: 32%;
}
.bsnbtn {
  position: absolute;
  top: 80%;
  right: 35%;
}

.wbtn {
  position: absolute;
  top: 54%;
  left: 36%;
}

.hbtn {
  position: absolute;
  top: 88%;
  left: 17%;
}

.mbtn {
  position: absolute;
  top: 64%;
  left: 36%;
}

.jbtn {
  position: absolute;
  top: 67.5%;
  right: 37%;
}

.ebtn {
  position: absolute;
  top: 52.5%;
  right: 33%;
}

.sbtn {
  position: absolute;
  top: 55%;
  right: 40%;
}

.cbtn {
  position: absolute;
  top: 45%;
  right: 18%;
}

.rbtn {
  position: absolute;
  top: 74%;
  right: 20%;
}

.rlbtn {
  position: absolute;
  top: 49%;
  right: 26.5%;
}
.mnbtn {
  position: absolute;
  top: 88%;
  left: 26%;
}

.batlebtn {
  position: absolute;
  top: 48%;
  left: 26.5%;
}
.smartgbtn {
  position: absolute;
  top: 56%;
  left: 26.5%;
}
.colliseumbtn {
  position: absolute;
  top: 40%;
  left: 26.5%;
}
.makerbtn {
  position: absolute;
  top: 29%;
  right: 39%;
}
.dronebtn {
  position: absolute;
  top: 29%;
  right: 33%;
}
.gardenbtn {
  position: absolute;
  top: 85%;
  right: 29.5%;
} 

.MuiSwitch-root .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
  background-color: #23ca0f;
}

.MuiSwitch-root .MuiSwitch-colorSecondary.Mui-checked {
  color: white;
}

.MuiSwitch-root .MuiSwitch-track {
  background-color: #9ab9ea;
}

.MuiFormGroup-root {
  margin: 5%;
}

ul{
  display: inline;
}

.MuiAvatar-root .MuiAvatar-img{
  width: auto;
}

 .MuiListItemAvatar-root  .MuiAvatar-root{
  width: 120px;
  height: 120px;
}

.MuiListItem-root{
  display: inline-block;
  border-radius: 75px;
  width: 50%;
  background-color: #9FA7BF;
  color: #001355;
  margin: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.MuiListItem-root .MuiListItemText-root {
  padding-left: 5%;
}

.MuiList-root .MuiListItem-alignItemsFlexStart{
   align-items: center;
   
}

.MuiList-root .MuiListItem-root {
   width: 40%;
 }

 .MuiList-root{
   width: 100%;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
 }

.MuiList-root .MuiListSubheader-root{
   color:white
 }

.MuiInputBase-root .MuiOutlinedInput-notchedOutline{
  border-color:#23ca0f;
}

.MuiFormControl-root .MuiFormHelperText-root{
  color:#23ca0f;
}

.MuiFormControl-root  .MuiIconButton-root {
  color: white;
}

.MuiAppBar-colorPrimary .MuiAppBar-colorPrimary{
  background-color: none;
}

.form-login{
  display: flex; 
  justify-content: center; 
  align-items:center;
  flex-flow: column;
  width:50%;
  margin: auto;
  height: 55vh;
}

.form-control {
  width: 600px;
  background: none;
  color: white;
  border-color: #23ca0f;
}